<div class="login-form" *ngIf="formLogin" [formGroup]="formLogin">
    <mat-form-field>
        <mat-label> Email </mat-label>
        <input matInput placeholder="Ingresa tu email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
        <mat-label> Contraseña </mat-label>
        <input matInput placeholder="Ingresa tu contraseña" type="password" formControlName="password" />
    </mat-form-field>
    <button mat-stroked-button color="primary" [disabled]="formLogin.invalid || isLoading" (click)="LoginClick()">
    Ingresar
  </button>
</div>